<!-- begin project-preview -->
{% assign c = "c-preview" %}
<section class="{{c}} animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner animate">
          
          <div class="section__info">
              <div class="section__head">
                <h2 class="{{c}}__title">My Recent Projects</h2>
                <a class="section__link" href="{{ include.link_url }}">View all <i class="ion ion-md-arrow-forward"></i></a>
              </div>
          </div>
  
          <div class="row">
            <div class="{{c}}__right">
              <h2 class="section__title">{{ include.title }}</h2>
              <div class="{{c}}__description">{{ include.description_html }}</div>
            </div>
  
            <div class="{{c}}__left">
              <div class="{{c}}__image">
                <img loading="lazy" src="{{ include.image }}" alt="{{ include.image_alt }}">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end project-preview -->